<section class="row" id="about">
 <div class="row">
        <div class="small-12 small-centered columns">
            <h1>A Little Bit About BlackPig</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="small-2 small-offset-1 columns">
            <img src="{{ 'assets/images/stuart_hallewell.jpg'|theme }}" alt="Stuart Hallewell - founder" />
        </div>
        
        <div class="small-9 columns">
            <h2>Custom websites</h2>
            <p>lorem ipsum etc</p>
        </div>
        
    </div>
    
    <div class="row">
        <div class="small-12 small-centered columns">
            <a href="{{ 'about'|page }}" class="ghost">Find out more about Blackpig</a>
        </div>
    </div>
</section>