<section class="row">
 <div class="row">
        <div class="small-12 small-centered columns">
            <h1>The Tools We use</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="small-4 columns">
            <h2>Bespoke design</h2>
            <p>lorem ipsum etc</p>
        </div>
        
        <div class="small-4 columns">
            <h2>Custom websites</h2>
            <p>lorem ipsum etc</p>
        </div>
        
        <div class="small-4 columns">
            <h2>Web &amp; Native Apps</h2>
            <p>lorem ipsum etc</p>
        </div>
    </div>
    
    <div class="row">
        <div class="small-12 small-centered columns">
            <a href="{{ 'services'|page }}" class="ghost">See some of our recent work</a>
        </div>
    </div>
</section>